@import "./template";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

.header {
    font-family: $font;
    margin-top: 50px;
    .header__top {
        position: relative;
        .header__top-inner {
            display: flex;
            flex-direction: row;
            .logo {
                position: absolute;
                top: 0;
                left: 76px;
            }
            .bags {
                position: absolute;
                top: 0;
                right: 15px;
                .bags__link {
                    display: inline-block;
                    padding: 0 16px 0 16px;
                    max-height: 38px;
                    background-color: $bc;
                    border-radius: 100px;
                    color: $color-white;
                    font-family: $font;
                    font-size: 13px;
                    line-height: 38px;
                    text-transform: uppercase;
                    font-weight: 400;
                    span {
                        padding: 0 16px 0 0;
                        background: url(image/bags.svg) right -0.5px no-repeat;
                    }
                }
            }
        }
    }
    .header__content {
        display: flex;
        flex-direction: row;
        margin-left: 126px;
        @media (max-width: 1024px) {
            margin-left: 76px;
        }
        @media (max-width: 608px) {
            margin-left: 0px;
        }
        .header__content-left {
            flex-basis: 45%;
            display: flex;
            flex-direction: column;
            .header__title {
                margin: 76px 0px 10px 0px;
                max-width: 542px;
                color: $color-black;
                font-family: $font;
                font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1440 - 320)));
                font-weight: 400;
                line-height: 120%;
                text-transform: uppercase;
            }
            .header__subtitle {
                max-width: 476px;
                margin: 0px 0px 30px 0px;
                color: $color-black;
                font-family: $font-1;
                font-size: 20px;
                font-style: normal;
                line-height: 160%;
            }
            .button {
                display: inline-block;
                padding: 0 33px;
                background-color: $bc;
                border-radius: 100px;
                max-width: 270px;
                max-height: 84px;
                color: $color-white;
                font-family: $font;
                font-size: 35px;
                line-height: calc(40px + (84 - 40) * ((100vw - 320px) / (1440 - 320)));
                text-transform: uppercase;
                span {
                    background: url(image/bag2.svg) right no-repeat;
                    padding-right: 55px;
                }
            }
            .menu {
                margin: 146px 0px 0px 0px;
                .menu__list {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    .menu__list-item {
                        padding-right: 34px;
                        &:nth-child(4) {
                            padding-right: 0px;
                        }
                        .menu__link {
                            color: $bc;
                            font-family: $font-1;
                            font-size: 20px;
                            font-weight: 300;
                        }
                    }
                }
            }
            @media (max-width: 1004px) {
                .header__title {
                    font-size: 30px;
                    margin: 90px 0 40px 0;
                    text-align: center;
                }
                .header__subtitle {
                    text-align: center;
                }
                .button {
                    margin: 0 auto;
                    max-width: 150px;
                    max-height: 84px;
                    font-size: 20px;
                    padding: 0 13px;
                    span {
                        padding-right: 45px;
                    }
                }
                .menu {
                    margin: 106px 0px 0px 0px;
                    .menu__list {
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        .menu__list-item {
                            padding: 0 40px 30px 0;
                        }
                    }
                }
            }
        }
        .header__content-right {
            flex-basis: 55%;
            min-height: 100%;
            min-width: 55%;
            position: relative;
            overflow: hidden;
            padding: 0 0 58% 0;
            .header__content-right-img {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: contain;
            }
        }
    }
    @media (max-width: 925px) {
        .header__content {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            .header__title {
                font-size: 30px;
                margin: 90px 0 40px 0;
                text-align: center;
            }
            .header__subtitle {
                text-align: center;
            }
            .button {
                margin: 0 auto;
                max-width: 150px;
                max-height: 84px;
                font-size: 20px;
                padding: 0 13px;
                span {
                    padding-right: 45px;
                }
            }
            .menu {
                margin: 106px 0px 0px 0px;
                .menu__list {
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    .menu__list-item {
                        padding: 0 40px 30px 0;
                    }
                }
            }
            .header__content-right {
                position: relative;
                top: 0;
                left: 0;
                min-width: 100%;
                min-height: 100%;
                .header__content-right-img {
                    position: absolute;
                    top: 16%;
                    left: 0;
                }
            }
        }
    }
}

@media (max-width: 608px) {
    .header__content-left {
        margin: 0 auto;
    }
    .header__title {
        font-size: 30px;
        margin: 40px 0 10px 0;
        text-align: center;
    }
    .header__subtitle {
        text-align: center;
        align-self: center;
    }
    .button {
        max-width: 150px;
        max-height: 84px;
        font-size: 20px;
        padding: 0 13px;
        span {
            padding-right: 45px;
        }
    }
    .menu {
        margin: 80px 0px 0px 0px;
        .menu__list {
            flex-wrap: wrap;
            justify-content: space-evenly;
            .menu__list-item {
                padding: 0 40px 30px 0;
            }
        }
    }
    .header__content-right {
        position: relative;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        margin-bottom: -13%;
        .header__content-right-img {
            position: absolute;
            top: 16%;
            left: 0;
        }
    }
}

.main {
    .wrapper {
        padding: 0 15px 0 15px;
        @media (max-width: 1024px) {
            margin-left: 76px;
        }
        @media (max-width: 608px) {
            margin-left: 20px;
        }
        .header {
            font-family: $font;
            margin-top: 50px;
            .header__top {
                position: relative;
                .header__top-inner {
                    display: flex;
                    flex-direction: row;
                    .logo {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .bags {
                        position: absolute;
                        top: 0;
                        right: 0;
                        .bags__link {
                            display: inline-block;
                            padding: 0 16px 0 16px;
                            max-height: 38px;
                            background-color: $bc;
                            border-radius: 100px;
                            color: $color-white;
                            font-family: $font;
                            font-size: 13px;
                            line-height: 38px;
                            text-transform: uppercase;
                            font-weight: 400;
                            span {
                                padding: 0 16px 0 0;
                                background: url(image/bags.svg) right -0.5px no-repeat;
                            }
                        }
                    }
                }
            }
        }
        .main__content {
            margin: 89px auto 0 auto;
            max-width: 1288px;
            .content-title {
                color: $color-black;
                font-family: $font;
                font-size: 60px;
                font-weight: 400;
                line-height: 120%;
                margin: 0 0 40px 80px;
                @media (max-width: 1024px) {
                    margin: 0 0 20px 0px;
                    font-size: 40px;
                }
            }
        }
        .content-row-1 {
            display: flex;
            flex-direction: row;
            .content-column_border-red {
                border: 1px solid #bb2247;
            }
            .content-column {
                flex: 0 1 33.333%;
                padding: 26px 37px 25px 37px;
                .column__logo {
                    position: relative;
                    padding: 0 0 58% 0;
                    max-height: 233px;
                    max-width: 365px;
                    background: #ec615b;
                    margin: 0 0 35px 0;
                    .logo-img {
                        width: 100%;
                        height: 265px;
                        top: 0;
                        left: 0;
                        object-fit: contain;
                    }
                }
                .column__subtitle {
                    color: $color-black;
                    font-family: $font;
                    font-size: 30px;
                    line-height: 120%;
                }
                .column__text {
                    color: $color-black;
                    font-family: $font-1;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 160%;
                }
            }
        }
        @media (max-width: 925px) {
            .content-row-1 {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .content-column {
                    flex: 0 1 50%;
                }
            }
        }
        @media (max-width: 608px) {
            .content-row-1 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .content-column {
                    flex: 0 1 100%;
                    .column-items {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }

        .content-row-2 {
            display: flex;
            flex-direction: row;
            margin-bottom: 86px;
            .content-column_border-red {
                border: 1px solid #bb2247;
                padding: 0px 25px 26px 28px !important;
                margin-right: 12px;
                margin-left: -12px;
            }
            .content-column {
                flex: 0 1 33.333%;
                padding: 0px 7px 0 37px;
                .column__subtitile {
                    padding: 25px 0 0 0;
                    color: $color-black;
                    font-family: $font;
                    font-size: 30px;
                    line-height: 120%; /* 36px */
                }
                .column__text {
                    color: var(--, #000);
                    font-family: $font-1;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 160%; /* 32px */
                }
            }
            .content-column_form {
                margin-left: 33px;
                background: #ec615b;
                max-width: 365px;
                max-height: 233px;
                padding: 25px 22px 0 18px;
                .forms__news {
                    color: #fff;
                    font-family: $font;
                    font-size: 30px;
                    line-height: 120%;
                    padding-bottom: 8px;
                }
                .input-email {
                    width: 323px;
                    padding: 15px 0 15px 14px;
                    border: 0;
                    background: #fff;
                    font-size: 20px;
                    font-family: $font-1;
                    color: $color-black;
                }
                .forms__button {
                    margin: 23px 0 0 0;
                    border-radius: 100px;
                    background: $bc;
                    padding: 13px;
                    color: $color-white;
                    font-family: $font;
                    font-size: 13px;
                    border: 0;
                }
            }
        }
        @media (max-width: 925px) {
            .content-row-2 {
                flex-wrap: wrap;
                justify-content: center;
                .content-column {
                    flex: 0 1 50%;
                    margin-bottom: 20px;
                }
                .content-column_form {
                    max-width: 100%;
                    max-height: 100%;
                    padding: 25px 22px 40px 18px;
                }
            }
        }
        @media (max-width: 608px) {
            .content-row-2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .content-column {
                    flex: 0 1 100%;
                    .column-items {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        }
        .menu {
            margin: 146px 0px 80px 0px;
            .menu__list {
                display: flex;
                flex-direction: row;
                justify-content: start;
                flex-wrap: nowrap;
                .menu__list-item {
                    padding-right: 34px;
                    &:nth-child(4) {
                        padding-right: 0px;
                    }
                    .menu__link {
                        color: $bc;
                        font-family: $font-1;
                        font-size: 20px;
                        font-weight: 300;
                    }
                }
            }
        }
        @media (max-width: 925px) {
            .menu {
                margin: 90px 0px 80px 0px;
            }
        }
    }
}
